.dark-theme {
  --paragraph-spacing-none: 0;
  --paragraph-spacing-small: 8;
  --title-h1-font-family: SF Pro Display;
  --title-h1-font-weight: Semibold;
  --title-h1-line-height: 60;
  --title-h1-font-size: 48px;
  --title-h1-letter-spacing: 0;
  --title-h1-paragraph-spacing: 0;
  --title-h1-text-case: none;
  --title-h1-text-decoration: none;
  --title-h2-font-family: SF Pro Display;
  --title-h2-font-weight: Semibold;
  --title-h2-line-height: 50;
  --title-h2-font-size: 40px;
  --title-h2-letter-spacing: 0;
  --title-h2-paragraph-spacing: 0;
  --title-h2-text-case: none;
  --title-h2-text-decoration: none;
  --title-h3-font-family: SF Pro Display;
  --title-h3-font-weight: Semibold;
  --title-h3-line-height: 40;
  --title-h3-font-size: 32px;
  --title-h3-letter-spacing: 0;
  --title-h3-paragraph-spacing: 0;
  --title-h3-text-case: none;
  --title-h3-text-decoration: none;
  --title-h4-font-family: SF Pro Display;
  --title-h4-font-weight: Semibold;
  --title-h4-line-height: 30;
  --title-h4-font-size: 24px;
  --title-h4-letter-spacing: 0;
  --title-h4-paragraph-spacing: 0;
  --title-h4-text-case: none;
  --title-h4-text-decoration: none;
  --title-h5-font-family: SF Pro Display;
  --title-h5-font-weight: Semibold;
  --title-h5-line-height: 25;
  --title-h5-font-size: 20px;
  --title-h5-letter-spacing: 0;
  --title-h5-paragraph-spacing: 0;
  --title-h5-text-case: none;
  --title-h5-text-decoration: none;
  --title-h6-font-family: SF Pro Display;
  --title-h6-font-weight: Medium;
  --title-h6-line-height: 22;
  --title-h6-font-size: 18px;
  --title-h6-letter-spacing: 0;
  --title-h6-paragraph-spacing: 0;
  --title-h6-text-case: none;
  --title-h6-text-decoration: none;
  --body-paragraph-l-font-family: SF Pro Text;
  --body-paragraph-l-font-weight: Regular;
  --body-paragraph-l-line-height: 27;
  --body-paragraph-l-font-size: 18px;
  --body-paragraph-l-letter-spacing: 0;
  --body-paragraph-l-paragraph-spacing: 8;
  --body-paragraph-l-text-case: none;
  --body-paragraph-l-text-decoration: none;
  --body-paragraph-l-bold-font-family: SF Pro Text;
  --body-paragraph-l-bold-font-weight: Medium;
  --body-paragraph-l-bold-line-height: 27;
  --body-paragraph-l-bold-font-size: 18px;
  --body-paragraph-l-bold-letter-spacing: 0;
  --body-paragraph-l-bold-paragraph-spacing: 8;
  --body-paragraph-l-bold-text-case: none;
  --body-paragraph-l-bold-text-decoration: none;
  --body-paragraph-m-font-family: SF Pro Text;
  --body-paragraph-m-font-weight: Regular;
  --body-paragraph-m-line-height: 24;
  --body-paragraph-m-font-size: 16px;
  --body-paragraph-m-letter-spacing: 0;
  --body-paragraph-m-paragraph-spacing: 8;
  --body-paragraph-m-text-case: none;
  --body-paragraph-m-text-decoration: none;
  --body-paragraph-m-bold-font-family: SF Pro Text;
  --body-paragraph-m-bold-font-weight: Medium;
  --body-paragraph-m-bold-line-height: 24;
  --body-paragraph-m-bold-font-size: 16px;
  --body-paragraph-m-bold-letter-spacing: 0;
  --body-paragraph-m-bold-paragraph-spacing: 8;
  --body-paragraph-m-bold-text-case: none;
  --body-paragraph-m-bold-text-decoration: none;
  --body-paragraph-s-font-family: SF Pro Text;
  --body-paragraph-s-font-weight: Regular;
  --body-paragraph-s-line-height: 21;
  --body-paragraph-s-font-size: 14px;
  --body-paragraph-s-letter-spacing: 0;
  --body-paragraph-s-paragraph-spacing: 8;
  --body-paragraph-s-text-case: none;
  --body-paragraph-s-text-decoration: none;
  --body-paragraph-s-bold-font-family: SF Pro Text;
  --body-paragraph-s-bold-font-weight: Medium;
  --body-paragraph-s-bold-line-height: 21;
  --body-paragraph-s-bold-font-size: 14px;
  --body-paragraph-s-bold-letter-spacing: 0;
  --body-paragraph-s-bold-paragraph-spacing: 8;
  --body-paragraph-s-bold-text-case: none;
  --body-paragraph-s-bold-text-decoration: none;
  --body-paragraph-xs-font-family: SF Pro Text;
  --body-paragraph-xs-font-weight: Regular;
  --body-paragraph-xs-line-height: 18;
  --body-paragraph-xs-font-size: 12px;
  --body-paragraph-xs-letter-spacing: 0;
  --body-paragraph-xs-paragraph-spacing: 8;
  --body-paragraph-xs-text-case: none;
  --body-paragraph-xs-text-decoration: none;
  --body-paragraph-xs-bold-font-family: SF Pro Text;
  --body-paragraph-xs-bold-font-weight: Medium;
  --body-paragraph-xs-bold-line-height: 18;
  --body-paragraph-xs-bold-font-size: 12px;
  --body-paragraph-xs-bold-letter-spacing: 0;
  --body-paragraph-xs-bold-paragraph-spacing: 8;
  --body-paragraph-xs-bold-text-case: none;
  --body-paragraph-xs-bold-text-decoration: none;
  --body-component-l-font-family: SF Pro Text;
  --body-component-l-font-weight: Regular;
  --body-component-l-line-height: 22.5;
  --body-component-l-font-size: 18px;
  --body-component-l-letter-spacing: 0;
  --body-component-l-paragraph-spacing: 0;
  --body-component-l-text-case: none;
  --body-component-l-text-decoration: none;
  --body-component-l-bold-font-family: SF Pro Text;
  --body-component-l-bold-font-weight: Medium;
  --body-component-l-bold-line-height: 22.5;
  --body-component-l-bold-font-size: 18px;
  --body-component-l-bold-letter-spacing: 0;
  --body-component-l-bold-paragraph-spacing: 0;
  --body-component-l-bold-text-case: none;
  --body-component-l-bold-text-decoration: none;
  --body-component-m-font-family: SF Pro Text;
  --body-component-m-font-weight: Regular;
  --body-component-m-line-height: 20;
  --body-component-m-font-size: 16px;
  --body-component-m-letter-spacing: 0;
  --body-component-m-paragraph-spacing: 0;
  --body-component-m-text-case: none;
  --body-component-m-text-decoration: none;
  --body-component-m-bold-font-family: SF Pro Text;
  --body-component-m-bold-font-weight: Medium;
  --body-component-m-bold-line-height: 20;
  --body-component-m-bold-font-size: 16px;
  --body-component-m-bold-letter-spacing: 0;
  --body-component-m-bold-paragraph-spacing: 0;
  --body-component-m-bold-text-case: none;
  --body-component-m-bold-text-decoration: none;
  --body-component-s-font-family: SF Pro Text;
  --body-component-s-font-weight: Regular;
  --body-component-s-line-height: 17.5;
  --body-component-s-font-size: 14px;
  --body-component-s-letter-spacing: 0;
  --body-component-s-paragraph-spacing: 0;
  --body-component-s-text-case: none;
  --body-component-s-text-decoration: none;
  --body-component-s-bold-font-family: SF Pro Text;
  --body-component-s-bold-font-weight: Medium;
  --body-component-s-bold-line-height: 17.5;
  --body-component-s-bold-font-size: 14px;
  --body-component-s-bold-letter-spacing: 0;
  --body-component-s-bold-paragraph-spacing: 0;
  --body-component-s-bold-text-case: none;
  --body-component-s-bold-text-decoration: none;
  --body-component-xs-font-family: SF Pro Text;
  --body-component-xs-font-weight: Regular;
  --body-component-xs-line-height: 15;
  --body-component-xs-font-size: 12px;
  --body-component-xs-letter-spacing: 0;
  --body-component-xs-paragraph-spacing: 0;
  --body-component-xs-text-case: none;
  --body-component-xs-text-decoration: none;
  --body-component-xs-bold-font-family: SF Pro Text;
  --body-component-xs-bold-font-weight: Medium;
  --body-component-xs-bold-line-height: 15;
  --body-component-xs-bold-font-size: 12px;
  --body-component-xs-bold-letter-spacing: 0;
  --body-component-xs-bold-paragraph-spacing: 0;
  --body-component-xs-bold-text-case: none;
  --body-component-xs-bold-text-decoration: none;
  --button-l-font-family: SF Pro Text;
  --button-l-font-weight: Semibold;
  --button-l-line-height: 22.5;
  --button-l-font-size: 18px;
  --button-l-letter-spacing: 0;
  --button-l-paragraph-spacing: 0;
  --button-l-text-case: none;
  --button-l-text-decoration: none;
  --button-m-font-family: SF Pro Text;
  --button-m-font-weight: Semibold;
  --button-m-line-height: 20;
  --button-m-font-size: 16px;
  --button-m-letter-spacing: 0;
  --button-m-paragraph-spacing: 0;
  --button-m-text-case: none;
  --button-m-text-decoration: none;
  --button-s-font-family: SF Pro Text;
  --button-s-font-weight: Semibold;
  --button-s-line-height: 17.5;
  --button-s-font-size: 14px;
  --button-s-letter-spacing: 0;
  --button-s-paragraph-spacing: 0;
  --button-s-text-case: none;
  --button-s-text-decoration: none;
  --interface-section-heading-font-family: SF Pro Text;
  --interface-section-heading-font-weight: Bold;
  --interface-section-heading-line-height: 12.5;
  --interface-section-heading-font-size: 10px;
  --interface-section-heading-letter-spacing: 15%;
  --interface-section-heading-paragraph-spacing: 0;
  --interface-section-heading-text-case: uppercase;
  --interface-section-heading-text-decoration: none;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --text-decoration-line-through: line-through;
  --font-family-heading-product: SF Pro Display;
  --font-family-body: SF Pro Text;
  --font-weight-regular: Regular;
  --font-weight-medium: Medium;
  --font-weight-semibold: Semibold;
  --font-weight-bold: Bold;
  --font-size-10: 48px;
  --font-size-01: 10px;
  --font-size-02: 12px;
  --font-size-04-base: 16px;
  --font-size-03: 14px;
  --font-size-05: 18px;
  --font-size-06: 20px;
  --font-size-07: 24px;
  --font-size-08: 32px;
  --font-size-09: 40px;
  --line-height-title: 1.25;
  --line-height-body-paragraph: 1.5;
  --line-height-body-component: 1.25;
  --text-case-none: none;
  --text-case-uppercase: uppercase;
  --letter-spacing-none: 0;
  --letter-spacing-small: 15%;
  --relative-spacing-spacing000: 0px;
  --relative-spacing-spacing025: 2px;
  --relative-spacing-spacing050: 4px;
  --relative-spacing-spacing075: 6px;
  --relative-spacing-spacing100: 8px;
  --relative-spacing-spacing200: 12px;
  --relative-spacing-spacing300: 16px;
  --relative-spacing-spacing400: 24px;
  --relative-spacing-spacing500: 32px;
  --relative-spacing-spacing600: 48px;
  --relative-spacing-spacing700: 64px;
  --relative-spacing-spacing800: 128px;
  --background-base-primary: #131113;
  --background-base-secondary: #201e21;
  --background-base-tertiary: #3c383d;
  --background-overflow: #050505;
  --surface-button-primary-default: #6b46c1;
  --surface-button-primary-hover: #805ad5;
  --surface-button-primary-pressed: #9f7aea;
  --surface-button-secondary-default: #fcf7ff3d;
  --surface-button-secondary-hover: #fcf7ff52;
  --surface-button-secondary-pressed: #fcf7ff66;
  --surface-button-tertiary-default: #6b46c100;
  --surface-button-tertiary-hover: #fcf7ff14;
  --surface-button-tertiary-pressed: #fcf7ff29;
  --surface-tags-not-selected: #fcf7ff00;
  --surface-tags-not-selected-hover: #fcf7ff14;
  --surface-tags-selected: #6b46c1;
  --surface-tags-selected-hover: #805ad5;
  --content-primary: #fcf7fff5;
  --content-secondary: #fcf7ffcc;
  --content-tertiary: #fcf7ff8f;
  --content-icon: #fcf7ff66;
  --content-links: #b794f4;
  --content-disabled: #fcf7ff3d;
  --border-default: #fcf7ff1f;
  --border-hover: #fcf7ff29;
  --border-pressed: #fcf7ff3d;
  --border-selected: #fcf7ffe0;
  --border-focus: #3182ce66;
  --border-disabled: #fcf7ff0a;
}